@model IEnumerable<ConsumirServicio.Models.Evento>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table" id="tablaEventos"">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resultado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="fila-evento">
            @Html.HiddenFor(modelItem => item.Id)
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
        </tr>
    }
</table>
<script type="text/javascript" src="@Url.Content("~/Scripts/Eventos.js")"></script>